$base-text:       #1c1c1c;
$base-link:       #757575;
$base-link-hover: #616161;

$menu-background:       #311B92;
$menu-background-hover: #ffffff;
$menu-divider:          #4527A0;
$menu-text:             #D1C4E9;
$menu-link:             #ffffff;
$menu-link-hover:       #311B92;

$social-btn-border:           #1976D2;
$social-btn-background:       #1E88E5;
$social-btn-text:             #ffffff;
$social-btn-hover-border:     #1E88E5;
$social-btn-hover-background: #1976D2;
$social-btn-hover-text:       #ffffff;

$addpin-border:         #311B92;
$addpin-divider:        #4527A0;
$addpin-btn-background: #4527A0;
$addpin-btn-color:      #ffffff;

$pinclone-img-shadow:            #311B92;
$pinclone-user:                  #ffffff;
$pinclone-user-background:       #4527A0;
$pinclone-user-hover:            #ffffff;
$pinclone-user-hover-background: #311B92;

$pinclone-like-background:       #311B92;
$pinclone-like-color:            #ffffff;
$pinclone-like-background-hover: #4527A0;
$pinclone-like-color-hover:      #ffffff;

$base-font-family: 'Montserrat', 'Helvetica Neue', Verdana, sans-serif;
