$base-text:       #1c1c1c;
$base-link:       #757575;
$base-link-hover: #616161;

$menu-background:       #999999;
$menu-background-hover: #aaaaaa;
$menu-divider:          #888888;
$menu-text:             #1c1c1c;
$menu-link:             #444444;
$menu-link-hover:       #555555;

$social-btn-border:           #444444;
$social-btn-background:       #222222;
$social-btn-text:             #ffffff;
$social-btn-hover-border:     #444444;
$social-btn-hover-background: #333333;
$social-btn-hover-text:       #ffffff;

$base-font-family: 'Montserrat', 'Helvetica Neue', Verdana, sans-serif;
