@import 'config'

body
  color: $base-text
  font-family: $base-font-family

a
  text-decoration: none
  color: $base-link

  &:hover, &:focus
    color: $base-link-hover

.main-menu
  background-color: $menu-background
  color: $menu-text
  margin: -8px
  margin-bottom: 8px

  ul
    list-style-type: none
    display: inline-block
    margin: 4px
    padding: 4px

    li
      display: inline-block
      padding: 4px
      border-right: 1px solid $menu-divider

      &:last-child
        border-right-width: 0

      a
        padding: 12px 8px
        text-transform: uppercase
        color: $menu-link
        margin-right: 4px

        &:hover, &:focus
          color: $menu-link-hover
          background-color: $menu-background-hover

.social-button
  float: right
  margin-right: 4px
  margin-top: 6px
  border: 1px solid $social-btn-border
  background-color: $social-btn-background
  color: $social-btn-text
  padding: 5px
  font-family: $base-font-family
  font-size: 16px
  cursor: pointer
  text-transform: uppercase

  &:hover, &:focus
    background-color: $social-btn-hover-background
    color: $social-btn-hover-text
    border-color: $social-btn-hover-border

.addpin
  max-width: 350px
  border: 1px solid $addpin-border
  margin: 0 auto
  padding: 16px

  h1
    text-align: center
    margin: 0

  hr
    border-width: 0
    border-style:solid
    border-bottom-width: 1px
    border-color: $addpin-divider

  img
    width: 100%
    margin-bottom: 8px

  label
    text-transform: uppercase
    margin-bottom: 4px
    display: block

    input[type="text"]
      border: 1px solid $addpin-border
      font-family: $base-font-family
      padding: 4px
      width: 100%
      margin: 8px 0

    small
      display: block

  input[type="submit"]
    border: 1px solid $addpin-border
    font-family: $base-font-family
    padding: 16px
    text-transform: uppercase
    width: 100%
    background-color: $addpin-btn-background
    color: $addpin-btn-color
    margin-top: 16px

.pinclone-image
  width: 350px
  display: inline-block
  box-shadow: 0 0 2px 1px $pinclone-img-shadow
  zoom: 0.75
  margin: 4px 2px

  img
    width: 100%

  h2
    margin: 16px 4px
    font-size: 16px
    text-align: center

  p, a
    color: $pinclone-user
    background-color: $pinclone-user-background
    margin: 0
    padding: 8px

  a
    width: 334px
    display: inline-block

    &:hover, &:focus
      background-color: $pinclone-user-hover-background
      color: $pinclone-user-hover

.like
  width: 100%
  font-size: 16px
  padding: 8px 0px
  font-family: $base-font-family
  font-weight: bold
  background-color: $pinclone-like-background
  color: $pinclone-like-color
  cursor: pointer
  border-width: 0

  &:hover, &:focus
    background-color: $pinclone-like-background-hover
    color : $pinclone-like-color-hover

  &.no-hover
    cursor: default

    &:hover, &:focus
      background-color: $pinclone-like-background
      color : $pinclone-like-color

  span
    font-weight: normal

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-justify
  text-align: justify

.block
  display: block

.inline-block
  display: inline-block

.no-margin
  margin: 0

.no-padding
  padding: 0
