<div class="main-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/mypin">My pin</a></li>
    <li><a href="/addpin">Add pin</a></li>
  </ul>

  <a href="/auth/logout" class="social-button">
    Logout
  </a>
</div>
