<html>
  <head>
    <title>Pinterest Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/not-found.css">
  </head>
  <body>
    <h1>404 - Page not found</h1>
    <p>This page doesn't exists yet. Return to the <a href="/">Homepage</a></p>
  </body>
</html>
